/* Reset default browser styles */
body, h1, h2, p, ul, ol, li, form, input, button {
    margin: 0;
    padding: 0;
}

body h3 {
    margin-right: 0; /* Fixed typo */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 16px; /* Adjusted font size */
}

/* Global styles */
body {
    background-color: #bbc4cd; /* Light blue background */
}

/* Center the title */
h1 {
    text-align: center;
    margin-top: 40px; /* Adjust as needed */
}

/* Stylish box for buttons */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.button-container {
    text-align: center;
}

.button-box {
    padding: 20px 50px; /* Adjust as needed */
    margin: 15px;
    border: none;
    border-radius: 8px;
    background-color: rgb(55, 62, 61); /* Green button background */
    color: white;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.button-box:hover {
    background-color: #000000; /* Darker green on hover */
}

/* Set text color of the link */
a {
    color: white;
    text-decoration: none;
}

/* Change link color on hover */
a:hover {
    text-decoration: underline;
}

/* Event container styles */
.event-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 100px;
}

/* Center the title */
h2 {
    text-align: center;
    margin-top: 50px; /* Adjust as needed */
}

/* Event box styles */
.event-box {
    width: 200px; /* Adjust the width as needed */
    margin: 15px;
    padding: 50px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    background-color: rgb(85, 87, 87); /* White background */
}

.event-box:hover {
    background-color: #030403; /* Darker green on hover */
    transition: background-color 0.3s ease;
}

/* Image styles */
.event-box img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Link styles */
.event-box a {
    display: block;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.event-box a:hover {
    text-decoration: underline;
}

/* Form container styles */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a6b7c3; /* Light blue background */
}

/* Form styles */
.event-form {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-form label,
.event-form input,
.event-form button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #f6f6f6;
    box-sizing: border-box;
}

.event-form button {
    background-color: #313732; /* Green button background */
    color: rgb(176, 124, 124);
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border: none;
}

.event-form button:hover {
    background-color: #000000; /* Darker green on hover */
}

.stand-box {
    background-color: #302a2a; /* Light red background */
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px; /* Adjust as needed */
}

/* Centered box styles */
.centered-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Adjust the height as needed */
}

/* Box styling */
.confirmation-box {
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
