/* Reset default browser styles */
body, h1, h2, p, ul, ol, li, form, input, button {
    margin: 0;
    padding: 0;
}

body h3 {
    margin: right;
}

body {
    font-family: ;
    color: #333;
    font-size: 35px;
}

/* Global styles */
body {
    background-color: #8ab6d6; /* Light blue background */
}

/* Center the title */
h1 {
    text-align: center;
    margin-top: 40px; /* Adjust as needed */
}

/* Stylish box for buttons */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.button-container {
    text-align: center;
}

.button-box {
    padding: 20px 50px; /* Adjust as needed */
    margin: 15px;
    border: none;
    border-radius: 8px;
    background-color: rgb(57, 200, 181); /* Green button background */
    color: white;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.button-box:hover {
    background-color: #4cdf54; /* Darker green on hover */
}

/* Set text color of the link */
a {
    color: white;
    text-decoration: none;
}

/* Change link color on hover */
a:hover {
    text-decoration: underline;
}

/* Event container styles */
.event-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 100px;
}

/* Center the title */
h2 {
    text-align: center;
    margin-top: 50px; /* Adjust as needed */
}

/* Event box styles */
.event-box {
    width: 200px; /* Adjust the width as needed */
    margin: 15px;
    padding: 50px;
    border-radius: 8px;
    background-color: rgb(57, 200, 181); /* White background */
    transition: background-color 0.3s ease;
}

.event-box:hover {
    background-color: #4cdf54; /* Darker green on hover */
}

/* Image styles */
.event-box img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Link styles */
.event-box a {
    display: block;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.event-box a:hover {
    text-decoration: underline;
}







/* Add this to your existing CSS or create a new one */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.event-form {
    text-align: center;
}

.event-form label,
.event-form input {
    display: block;
    margin-bottom: 10px;
}

.submit-button {
    padding: 20px 40px; /* Adjust as needed */
    border: none;
    border-radius: 8px;
    background-color: rgb(57, 200, 181);
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #4cdf54;
}
