{% extends 'base.html' %}
{% block head %}
    <title>Create Event</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}
{% block body %}
    <div>
        <h2>Create Event</h2>
        <form method="post" action="/admin/create_event">
            <div>
                <label for="event_name">Event Name:</label>
                <input type="text" name="event_name" required>
            </div>

            <div>
                <label for="no_of_seats">Number of Seats:</label>
                <input type="number" name="no_of_seats" required>
            </div>

            <div>
                <label for="event_type">Event Type:</label>
                <select name="event_type" required>
                    <option value="concert">Concert</option>
                    <option value="Sport">Sport</option>
                </select>
            </div>
            

            <div>
                <label for="stadium_id">Stadium ID:</label>
                <input type="number" name="stadium_id" required>
            </div>

            <div>
                <label for="event_date">Event Date:</label>
                <input type="text" name="event_date" placeholder="yy-mm-dd" required>
            </div>

            <div>
                <label for="start_time">Start Time:</label>
                <input type="text" name="start_time"  placeholder="hh:mm::ss" required>
            </div>

            <div>
                <label for="end_time">End Time:</label>
                <input type="text" placeholder="hh:mm::ss" name="end_time" required>
            </div>
            
            <div>
                <input type="submit" value="Create Event" class="submit-button">
            </div>
            
            
        </form>
    </div>
{% endblock %}
</html>
