{% extends 'base.html' %}

{% block head %}
    <title>Entry Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block body %}
    <div class="centered-box">
        <form method="POST" action="{{ url_for('entry')}}">
        <div class="event-form">
            <label for="customer_id">Customer ID:</label>
            <input type="text" id="customer_id" name="customer_id" placeholder="Enter Customer ID"><br><br>

            <label for="parking_slot">Parking Slot:</label>
            <select id="parking_slot" name="parking_slot">
                {%for location in available_slots%}
                <option value="{{location['location']}}" >{{location['location']}}</option>
                {%endfor%}
                
                <!-- Add more options as needed -->
            </select><br><br>

            <button type="submit">Submit</button>
        </div>
    </form>
    </div>
{% endblock %}
