{% extends 'base.html' %}

{% block head %}
    <title>Exit Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block body %}
    <form method="POST" action="{{ url_for('exit') }}">
    <div class="centered-box">
        <div class="event-form">
            <label for="customer_id">Customer ID:</label>
            <input type="text" id="customer_id" name="customer_id" placeholder="Enter Customer ID"><br><br>

            <button type="submit">Submit</button>
        </div>
    </div>
</form>
{% endblock %}
