{% extends 'base.html' %}

{% block head %}
    <title>Exit Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block body %}
    <div class="centered-box">
        <div class="event-form">
            <label for="customer-id">Customer ID:</label>
            <input type="text" id="customer-id" name="customer-id" placeholder="Enter Customer ID"><br><br>

            <button type="submit">Submit</button>
        </div>
    </div>
{% endblock %}
