{% extends 'base.html' %}
{% block head %}
<title>Stadium Management System</title>
<link rel="stylesheet" type="text/css" href="static\css\styles.css">
{% endblock %}
{% block body %}
<h1>Stadium Management System</h1>
<div class="container">
    <div class="button-container">
        <div class="button-box">
            <a href="/events">Go to Events</a>
        </div>
        <div class="button-box">
            <a href="/login">Admin login</a>
        </div>
        <div class="button-box">
            <a href="/parking">Parking</a>
        </div>
    </div>
</div>
{% endblock %}
