<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Staff - Stadium Management System</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

    <h1>Manage Staff</h1>

    <div class="container">
        <div class="button-container">
            <div class="button-box">
                <a href="/admin/create_staff">Add Staff</a>
            </div>
            {% for event in events %}
            <div class="event-box">
                {{ event[1] }}
            </div>
            <div class="button-box">
                <a href="/admin/delete_staff/{{staff}}">Remove Event</a>
            </div>
        {% endfor %}
            
        </div>
    </div>

</body>
</html>
