{% extends 'base.html' %}
{% block head %}
<title>Stadium Management System</title>
{% endblock %}
{% block body %}

    <h1>Manage Event</h1>

    <div class="container">
    
        <div class="button-container">
            <div class="button-box">
                <a href="/admin/create_event">Add Event</a>
            </div>
            {% for event in events %}
        <div class="event-box">
            {{ event[1] }}
        </div>
        <div class="button-box">
            <a href="/admin/delete_event/{{event}}">Remove Event</a>
        </div>
    {% endfor %}
            
        </div>
    </div>
{% endblock %}


