{% extends 'base.html' %}
{% block head %}
<title>Stadium Management System</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

{% endblock %}

{% block body %}

    <h1>Manage Event</h1>

    <div class="container">
    
        <div class="button-container">
            <h4>New Events</h4>
            <div class="button-box">
                <a href="/admin/create_event">Add Event</a>
            </div>
            <h4>Edit current events</h4>

            {% for event in events %}
        <div class="event-box">
            {{ event['event_name'] }}
        </div>
        <div class="button-box">
    
            <a href="/admin/delete_event/{{event['event_id']}}">Remove Event</a>
        </div>
    {% endfor %}
            
        </div>
    </div>
{% endblock %}


