{% extends 'base.html' %}
{% block head %}
    <title>Booking Details</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

{% endblock %}
{% block body %}
    <h2>Booking Details</h2>
    
    <h3>Selected Seats:</h3>
    <ul>
        {% for stand_name, seat_numbers in seats_dict.items() %}
            <li>{{ stand_name }}: {{ seat_numbers|join(', ') }}</li>
        {% endfor %}
    </ul>
    
    <h3>Total Price: Rs{{ total_price }}</h3>
    
    <form method="POST" action="{{ url_for('ticket', event_id=event_id) }}">
        <input type="hidden" name="seats_dict" value="{{ seats_dict }}">
        <input type="hidden" name="total_price" value="{{ total_price }}">
        <label for="payment_mode">Select Payment Mode:</label>
  <select name="payment_mode" id="payment_mode" required>
    <option value="upi">UPI</option>
    <option value="cash">Cash</option>
    <option value="card">Card</option>
  </select>
  <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="first_name" required><br>

    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name" required><br>

    <label for="gender">Gender:</label>
    <select id="gender" name="gender" required>
        <option value="M">Male</option>
        <option value="F">Female</option>
    </select><br>

    <label for="age">Age:</label>
    <input type="number" id="age" name="age" required><br>

    <label for="contact_no">Contact Number:</label>
    <input type="tel" id="contact_no" name="contact_no" required><br>
        <button type="submit">Confirm Booking</button>
    </form>
{% endblock %}